body{
    background-color: black;
    background-image: url(thasup-srVisualVideoft.LazzaSferaEbbasta-ezgif.com-video-to-gif-converter.gif);
    background-size: 2000px;
}
.WEB{
    color: purple;
    text-align: center;
    font-size: 70px;
}
.supremo{
    color: purple;
    text-align: center;
    font-size: 45px;
}
.linea{
    height: 5px;
    width: 750px;
}
.isa{
    text-align: left;
}
.pop{
    text-align: left;

}
.gospel{
    text-align: left;

}
.prop{
    text-align: center;
    color: green;
    font-size: 60px;
    height: 100px;
    width: 600px;
}
.porp{
    text-align: center;
    color: purple;
    font-size: 60px;
    height: 100px;
    width: 210px;
}
.popr{
    text-align: center;
    color: 0,0,0,0;
    font-size: 60px;
    height: 100px;
    width: 500px;
}
.popro{
    text-align: center;
    color: purple;
    font-size: 60px;
    height: 100px;
    width: 700px;
}